server:
  port: 8080
  shutdown: graceful

spring:
  application:
    name: waiting-service

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus