server:
  port: 6000

spring:
  application:
    name: gateway-service
  threads:
    virtual:
      enabled: true
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: waiting-service-route
              uri: lb://waiting-service
              predicates:
                - Path=/waiting/**
              filters:
                - StripPrefix=1

            - id: restaurant-service-route
              uri: lb://restaurant-service
              predicates:
                - Path=/restaurants/**
              filters:
                - StripPrefix=1


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


#logging:
#  level:
#    org.springframework.cloud.gateway: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: gateway, health # gateway ????? ??
  endpoint:
    gateway:
      access: unrestricted