server:
  port: 6000

spring:
  application:
    name: gateway-service
  threads:
    virtual:
      enabled: true
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: waiting-service-route
              uri: lb://waiting-service
              predicates:
                - Path=/waiting/**
              filters:
                - StripPrefix=1

            - id: restaurant-service-route
              uri: lb://restaurant-service
              predicates:
                - Path=/restaurants/**
              filters:
                - StripPrefix=1


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: gateway, health # gateway ????? ??
  endpoint:
    gateway:
      access: unrestricted

app:
  jwt:
    secret: "vMFZ7YkY5+JjK3Hq8Lw9XzC2Vb4N/mQaR1TsD6EfG8UoWpI0OxLrYtZ3V5KjH9NcXyZ1QaW2EcR4VtB6NkM8=="
    expiration: 3600000 # 1시간 (3600초 * 1000ms)

# JWT 필터 설정
gateway:
  jwt:
    filter:
      enabled: false  # 현재 비활성화