server:
  port: 7080
  shutdown: graceful

spring:
  application:
    name: restaurant-service

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus

app:
  kafka:
    topics:
      waiting-events: waiting-events