server:
  port: 7080
  shutdown: graceful

spring:
  application:
    name: restaurant-service

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: false

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: waiting-service-group-out
      auto-offset-reset: latest

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus

app:
  kafka:
    topics:
      waiting-events: waiting-events