server:
  port: 8081
  shutdown: graceful
  tomcat:
    threads:
      max: 200
      min-spare: 10

spring:
  application:
    name: chatting-service-vt

  # Virtual Thread 활성화 (핵심)
  threads:
    virtual:
      enabled: true

  lifecycle:
    timeout-per-shutdown-phase: 10s

  # Redis 설정
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 1000ms
      lettuce:
        pool:
          max-active: 16
          max-idle: 8
          min-idle: 2

logging:
  level:
    root: INFO