networks:
  booster-network:
    external: true

services:
  frontend:
    image: booster/frontend
    build:
      context: ../../frontend
      dockerfile: ../../frontend/Dockerfile
    container_name: booster-frontend
    ports:
      - "3300:80"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - booster-network