server:
  port: 8080

spring:
  application:
    name: d-day-service
  threads:
    virtual:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always

app:
  tmdb:
    api-key: ${TMDB_API_KEY:dev-tmdb-key}

resilience4j:
  ratelimiter:
    instances:
      adminApi:
        limit-for-period: 5
        limit-refresh-period: 1m
        timeout-duration: 0s
