server:
  port: 8080

spring:
  application:
    name: d-day-service
  threads:
    virtual:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always

app:
  jwt:
    secret: ${JWT_SECRET:dGhpcy1pcy1hLWRldi1vbmx5LXNlY3JldC1rZXktdGhhdC1zaG91bGQtYmUtcmVwbGFjZWQtaW4tcHJvZA==}
    expiration: 3600000
  tmdb:
    api-key: ${TMDB_API_KEY:dev-tmdb-key}
  oauth:
    google:
      client-id: ${GOOGLE_CLIENT_ID:dev-client-id}
      client-secret: ${GOOGLE_CLIENT_SECRET:dev-client-secret}
