SERVER_PORT=8093
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,prometheus,metrics
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/telemetryhub
SPRING_DATASOURCE_USERNAME=wer2wer
SPRING_DATASOURCE_PASSWORD=gozldwhwRk
TELEMETRYHUB_STREAM_APPLICATION_ID=telemetryhub-stream-processor
TELEMETRYHUB_STREAM_SOURCE_TOPIC=telemetryhub.raw-events
TELEMETRYHUB_STREAM_NUM_STREAM_THREADS=2
TELEMETRYHUB_STREAM_PROCESSING_GUARANTEE=at_least_once
TELEMETRYHUB_STREAM_STATE_DIR=/var/lib/telemetryhub-streams
TELEMETRYHUB_STREAM_NUM_STANDBY_REPLICAS=1
TELEMETRYHUB_STREAM_PROJECTION_BATCH_BATCH_SIZE=200
TELEMETRYHUB_STREAM_PROJECTION_BATCH_FLUSH_INTERVAL=250ms
TELEMETRYHUB_STREAM_PROJECTION_BATCH_MAX_BUFFERED_ENTRIES=10000
