networks:
  booster-network:
    external: true
    name: booster-network

services:
  user-web:
    image: booster/user-web
    build:
      context: ../../frontends/user-web
      dockerfile: Dockerfile
    container_name: booster-user-web
    ports:
      - "3300:80"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - booster-network
